node_modules

# The bellow file is the compiled version of index.pug
# Use pug:views if you like to see the compiled version
etc/views/index.html

# The bellow folder holds all the compiled files and it's
# generated automatically through gulp tasks
public
