@import "../base/_variables.scss";
@import "../layout/_app-bar.scss";
@import "../components/_nav.scss";
@import "../components/_overlay.scss";
@import "../components/_scroll-to-reveal.scss";
@import "../screens/_index.scss";
@import "../screens/_404.scss";
@import "../screens/_about.scss";

#container {
    padding-top: 68px;
    padding-bottom: 10px;
}

#nav-md-placeholder {
    position: fixed;
    height: 100%;
    background-color: #fff;
    padding: 0;
    position: fixed;
    z-index: 1000;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);

     @media screen and (max-width: 767px) {
        border: 0;
        width: 360px;
        box-shadow: none;
    }
    @media screen and (max-width: 360px) {
        width: 100%;
    }
}

#main-content-placeholder {
    position: absolute;
    right: 0;
    padding-top: 30px;
    padding-bottom: 15px;
    a {
        border-bottom: 1px dashed black;
        margin-right: 15px;
    }
}

section#lesson-details {
    padding-top: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.21);
    margin-top: 20px;
    header h1#lesson-title {
        font-weight: 700;
        font-size: inherit;
    }
}

#previous-lesson {
    padding: 0;
}

#previous-lesson,
#next-lesson {
    @media screen and (max-width: 460px) {
        width: 50%;
        display: inline-block;
    }
}

#lesson-counter {
    color: rgb(96, 96, 96);
    padding-top: 10px;
    font-size: 12px;
    @media screen and (max-width: 460px) {
        display: none;
    }
}

#lesson-description {
    word-wrap: break-word;
}

#navigation-buttons {
    text-decoration: none;
    padding-top: 60px;
    a {
        border: 2px solid rgb(58, 138, 144);
        padding: 10px 15px;
        width: 140px;
        text-transform: uppercase;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        &:hover,
        &:active,
        &:focus {
            color: #000;
        }
        @media screen and (max-width: 360px) {
            width: 120px;
        }
        @media screen and (max-width: 320px) {
            margin-left: -10px;
        }
    }
}

#other-informations {
    font-size: 12px;
    color: #000;
    font-weight: 700;
    padding-top: 20px;
    border-top: 1px solid black;
    margin-top: 30px;
    .glyphicon::before {
        padding-right: 10px;
    }
}

#exercise-description {
    #problem {
        h3 {
            border-bottom: 1px solid black;
            padding-bottom: 5px;
        }
    }
    #solution {
        border-top: 1px solid black;
        padding-top: 20px;
    }
}