/* We took this feature from material design patternn.
 * Ripple effect is used in sidebar links.
 */

.ripple-btn {
    position: relative;
    overflow: hidden;
}

.ripple {
    position: absolute;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    background-color: #adadad;
    pointer-events: none;
    animation: scale-in .4s ease-in-out;
    opacity: 0;
}

@keyframes scale-in {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    80% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        opacity: 0;
    }
}