/* Global variables used to handle 
 * some base properies in our stylesheet.
 */

// Colors
$milk-white: #fbfbfb;
$pink: #e91e63;


// Typography
$fonts: 'Open Sans';
$letter-spacing: 2px;
$font-size-base: 16px;